<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo>
        <plugin name="lidarbot_diff_drive" filename="libgazebo_ros_diff_drive.so">         

            <!-- Wheel information -->
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_separation>0.134</wheel_separation>
            <wheel_diameter>0.067</wheel_diameter>

            <!-- Limits (can be adjusted later on)-->
            <max_wheel_torque>20</max_wheel_torque>
            <max_wheel_acceleration>2</max_wheel_acceleration>
            
            <!-- Output -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_footprint</robot_base_frame>
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>     
            <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>
    </gazebo>

</robot>
