<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Imu sensor  -->
  <link name="imu_link">
    <visual name="imu_visual">
      <geometry>
        <mesh filename="file://$(find lidarbot_description)/meshes/MPU6050.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="chassis_link"/>
    <child link="imu_link"/>
    <origin xyz="-0.06 0 0.0175" rpy="0 0 ${pi}"/> 
  </joint>

</robot>