<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- Real robot ros2_control -->
  <xacro:unless value="$(arg sim_mode)">
    <ros2_control name='RealRobot' type='system'>
      <hardware>
        <plugin>lidarbot_base/LidarbotHardware</plugin>
          <param name='left_wheel_name'>left_wheel_joint</param>
          <param name='right_wheel_name'>right_wheel_joint</param>
	  <param name='enc_ticks_per_rev'>1084</param>
          <param name='loop_rate'>30.0</param>
      </hardware>
      <joint name='left_wheel_joint'>
        <command_interface name='velocity'>
          <param name='min'>-10</param>
          <param name='max'>10</param>
        </command_interface>
        <state_interface name='velocity'/>
        <state_interface name='position'/>
      </joint>
      <joint name='right_wheel_joint'>
        <command_interface name='velocity'>
          <param name='min'>-10</param>
          <param name='max'>10</param>
        </command_interface>
        <state_interface name='velocity'/>
        <state_interface name='position'/>
      </joint>
    </ros2_control>

    <!-- MPU6050 sensor--> 
    <ros2_control name='MPU6050' type='sensor'>
      <hardware>
        <plugin>lidarbot_bringup/MPU6050Hardware</plugin>
          <param name='sensor_name'>mpu6050</param>
          <param name='frame_id'>imu_link</param>
      </hardware>
      <sensor name='mpu6050'>
        <state_interface name='orientation.x'/>
        <state_interface name='orientation.y'/>
        <state_interface name='orientation.z'/>
        <state_interface name='orientation.w'/>
        <state_interface name='angular_velocity.x'/>
        <state_interface name='angular_velocity.y'/>
        <state_interface name='angular_velocity.z'/>
        <state_interface name='linear_acceleration.x'/>
        <state_interface name='linear_acceleration.y'/>
        <state_interface name='linear_acceleration.z'/>  
      </sensor>
    </ros2_control>
  </xacro:unless>

  <!-- Gazebo ros2_control -->
  <xacro:if value="$(arg sim_mode)">
    <ros2_control name='GazeboSystem' type='system'>
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>
      <joint name='left_wheel_joint'>
        <command_interface name='velocity'>
          <param name='min'>-10</param>
          <param name='max'>10</param>
        </command_interface>
        <state_interface name='velocity'/>
        <state_interface name='position'/>
      </joint>
      <joint name='right_wheel_joint'>
        <command_interface name='velocity'>
          <param name='min'>-10</param>
          <param name='max'>10</param>
        </command_interface>
        <state_interface name='velocity'/>
        <state_interface name='position'/>
      </joint>
    </ros2_control>
  </xacro:if>

  <gazebo>
    <plugin name='gazebo_ros2_control' filename='libgazebo_ros2_control.so'>
      <parameters>$(find lidarbot_bringup)/config/controllers.yaml</parameters>
      <parameters>$(find lidarbot_bringup)/config/gazebo_ros2_ctl_use_sim.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
